*{
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
margin:0;
padding:0;
border:0;
}

html, 
body{
width:100%;
height:100%;
background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSG7Stk1AeaRV982yiIQCmWBu6cRfkP7oYkUu3-pnnETlZAfN2I) repeat fixed;
font-family:'Open-Sans', sans-serif;
font-weight:200;
}

.app{
position:relative;
top:50%;
width:600px;
display:table;
margin:-150px auto 0 auto;
background:#fff;
border-radius:4px;
}

.legend{
position:relative;
width:100%;
display:block;
background:#ff7052;
padding:15px;
color:#ffff;
font-size:20px;
}

.legend:after{
content:"";
background-image:url(http://ts2.mm.bing.net/th?id=OIP.M53ec7f5ea9565ab2204d439f631dd59aH0&pid=15.1&w=208&h=116&p=0);
background-size:100px 100px;
background-repeat:no-repeat;
background-position:152px -16px;
opacity:0.06;
top:0;
bottom:0;
left:0;
right:0;
position:absolute;
}

.input{
position:relative;
width:90%;
margin:15px auto;
}

.input input{
width:100%;
padding:10px 5px 10px 40px;
border:1px solid #EDEDED;
border-radius:4px;
transition:0.2s ease-out;
color:#a1a1a1;
}

.input:focus{
padding:10px 5px 10px 10px;
outline:0;
border-color:#FF7052;
}

.submit{
width:45px;
height:45px;
display:block;
margin:0 auto -15px auto;
background:#fff;
border-radius:100%;
border:1px solid #ff7052;
color:#ff7052;
font-size:24px;
cursor:pointer;
box-shadow:0px 0px 0px 7px #fff;
transition:0.2s ease-out;
}

.submit:hover,
.submit:focus{
background:#ff7052;
color:#fff;
outline:0;
}

